.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: #5029A3;
    padding: 10px;
  
  
}
    

.grid-container > div {
    background-color: #000000;
    border: 6px inset rgb(0, 255, 55);
    text-align: center;
    font-size: 30px;
    color: rgb(255, 251, 0);
  
}




.box1{
    grid-column-start: 1;
    grid-column-end: 5;
    z-index: 1;
    
}
.box2{
    grid-row-start:2 ;
    grid-row-end:4 ;
    grid-column-start: 1;
    grid-column-end: 3;
   

    
}
.box3{
    grid-column-start: 3;
    grid-column-end: 5;
    padding: 50px; 
}

.box4{
    grid-column-start: 3;
    grid-column-end: 5;
    padding: 50px;
}

.box7{
    grid-column-start: 3;
    grid-column-end: 5;
}

.box1:hover{
    background-color: #48E3FA;
    z-index: 0;
}
  
.box2:hover{
    background-color: #48E3FA;
    z-index: 0;
}

.box3:hover{
    background-color: #48E3FA;
    z-index: 0;
}

.box4:hover{
    background-color: #48E3FA;
    z-index: 0;
}

.box7:hover{
    background-color: #48E3FA;
    z-index: 0;
}
   

.box5:hover{
    background-color: #48E3FA;
    z-index: 0;
}

.box6:hover{
    background-color: #48E3FA;
    z-index: 0;
}
   
   
    
    

  
p{
    background-color: #050505;
   font-size: 30px;
   display: flex;
   justify-content: center;
   border: 13px solid gold;
   color: rgb(43, 255, 0);

}
 

